.input-wrapper, .timer {
    margin: 0 156px;
}

.input-wrapper {
    display: flex;
    gap: 8px;
    margin-top: 36px;
}

#datetime-picker {
    display: block;
    width: 272px;
    height: 40px;
    padding-left: 16px;
}

.timer {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}